<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySolarSystemLabel">Create or edit a Solar System</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="field_systemId">System Id</label>
            <input type="number" class="form-control" name="systemId" id="field_systemId"
                [(ngModel)]="solarSystem.systemId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_systemName">System Name</label>
            <input type="text" class="form-control" name="systemName" id="field_systemName"
                [(ngModel)]="solarSystem.systemName"  />
        </div>

        <div class="form-check">
            <label class="form-check-label" for="trackPvp">
                <input class="form-check-input" type="checkbox" id="trackPvp" name="trackPvp" [(ngModel)]="solarSystem.trackPvp">
                <span>Track Pvp</span>
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="trackRatting">
                <input class="form-check-input" type="checkbox" id="trackRatting" name="trackRatting" [(ngModel)]="solarSystem.trackRatting">
                <span>Track Ratting</span>
            </label>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_region">Region</label>
            <select class="form-control" name="region" [(ngModel)]="solarSystem.region" id="field_region" >
                <option>BRANCH</option>
                <option>CACHE</option>
                <option>CATCH</option>
                <option>CLOUD_RING</option>
                <option>COBALT_EDGE</option>
                <option>CURSE</option>
                <option>DEKLEIN</option>
                <option>DELVE</option>
                <option>DETORID</option>
                <option>ESOTERIA</option>
                <option>ETHERIUM_REACH</option>
                <option>FADE</option>
                <option>FEYTHABOLIS</option>
                <option>FOUNTAIN</option>
                <option>GEMINATE</option>
                <option>GREAT_WILDLANDS</option>
                <option>IMMENSEA</option>
                <option>IMPASS</option>
                <option>INSMOTHER</option>
                <option>MALPAIS</option>
                <option>OASA</option>
                <option>OMIST</option>
                <option>OUTER_PASSAGE</option>
                <option>PARAGON_SOUL</option>
                <option>PERIOD_BASIS</option>
                <option>PERRIGEN_FALLS</option>
                <option>PROVIDENCE</option>
                <option>PURE_BLIND</option>
                <option>QUERIOUS</option>
                <option>OUTER_RING</option>
                <option>SCALDING_PASS</option>
                <option>STAIN</option>
                <option>SYNDICATE</option>
                <option>TENAL</option>
                <option>TENERIFIS</option>
                <option>THE_KALEVALA_EXPANSE</option>
                <option>THE_SPIRE</option>
                <option>TRIBUTE</option>
                <option>VENAL</option>
                <option>VALE_OF_THE_SILENT</option>
                <option>WICKED_CREEK</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
